<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/_head') %> 
</head>
<body class="login-regis">
    <form action="/admin/register" method="POST">
        <label for="email">Email:</label>
        <div class="input-div">
            <input type="email" name="email" id="email">
        </div>
        <label for="password">Password:</label>
        <div class="input-div">
            <input type="password" name="password" id="password">
        </div>
        <button type="submit" class="submit-button">Register</button>
    </form>
</body>
</html>