// colors
$cyan: #41e2ba
$darkred: #3d0c11
$fawhite: #fffaff
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none
    border: none
    outline: none
    background-color: transparent

body
    background-color: $cyan
    font-family: sans-serif
    color: $darkred
    min-height: 100vh
    &.login-regis
        display: flex
        justify-content: center
        align-items: center
.login-regis
    form
        display: flex
        flex-direction: column
        align-items: center
        max-width: 400px
        margin: 20px 0
        width: 100%
        label
            display: block
            width: 100%
            font-size: 1.5rem
            line-height: 1.7rem
            text-align: left
            margin-bottom: .4rem
            font-weight: 600
            cursor: pointer
        .input-div
            display: flex
            height: 3.2rem
            color: $fawhite
            background-color: #fff
            border-radius: 12px
            padding: 0 1rem
            width: 100%
            margin-bottom: 1.5rem
            input
                font-size: 1.1rem
                display: flex
                width: 100%
                height: 100%
input, a
    font-family: inherit
    font-size: inherit
    color: $darkred

.submit-button
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 3.2rem
    font-size: 1.7rem
    text-transform: uppercase
    font-weight: 900
    cursor: pointer
    border-radius: 12px
    background-color: $darkred
    color: $fawhite


.user
    display: grid
    grid-template-columns: auto 1fr
    grid-auto-rows: 40px
    grid-gap: 0 10px
    align-items: center
    align-content: center
    height: 100px
    color: $darkred
    background-color: $fawhite
    position: relative
    padding: 0 20px
    h2
        text-align: right
    h2, span
        font-size: 1.3rem
        font-weight: 600
        display: block
        color: $darkred
    form
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 20px
    .logout
        @extend .submit-button
        width: 260px


.update-settings
    display: flex
    justify-content: center
    